/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Parisienne);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background-color: #fff;
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; font-size: x-large; font-weight: bold;}
h2 { margin: 2em 0 1em; font-size: large; font-style: italic; }
p  { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

em     { font-style: italic; }
strong { font-weight: bold;  }

ul       { list-style-type: disc; margin-left: 2em; }
ul li ul { list-style-type: circle; }

table { border-collapse: separate; border-spacing: 1em 0.5em; }

blockquote:before { content: open-quote;  float: left; }
blockquote:after  { content: close-quote; float: right; }
blockquote:before, blockquote:after { font-size: 3em; }
blockquote {
  quotes: '\201C' '\201D';
  background-color: #eee;
  float: left;
  padding: 1em 1em 0em;
  margin-top: 0.5em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header {  
  border-bottom: 3px solid #7f1734;
  margin-bottom: 1em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title a {
  font-size: xx-large;
  color: #000;
}

.site .header h1.title a:hover {
  color: #7f1734;
}

.site .header h2.title {
  font-family: 'Parisienne', cursive;
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 1em;
}

.site .header .navigation ul {
  list-style-type: none;
  margin: 0;
}

.site .header .navigation ul li {
  float: left;
}

.site .header .navigation ul li ul li {
  float: none;
}

.site .header .navigation ul a {
  width: 8em;
  display: block;
  color: #aaa;
}

.site .header .navigation ul a:hover {
  color: #7f1734;
}

.site .header .navigation {
  background-color: #eee;
  margin-bottom: 1em;
}

.site .header .navigation div {
  clear: left;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 3px solid #7f1734;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home p {
  font-family: 'Parisienne', cursive;
  font-size: 4em;
}

#home a {
  text-decoration: none;
  color: #000;
}

#home a:hover {
  color: #7f1734;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
