<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- resetting CSS -->
        <link rel="stylesheet" href="/css/reset.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <h2 class="title">{{ site.motto }}</h2>
              <div class="navigation">
                <ul>
                  <li><a href="/">Start</a></li>
                  <li>
                    <ul>
                      <li><a href="/gesang">Gesang</a></li>
                      <li><a href="/klavier">Klavier</a></li>
                      <li><a href="/theorie">Musiktheorie</a></li>
                    </ul>
                  </li>
                  <li><a href="/biografie">Biografie</a></li>
                  <li><a href="/referenzen">Referenzen</a></li>
                  <li><a href="/">Hörbeispiele</a></li>
                  <li><a href="/">Kontakt</a></li>
                </ul>
                <div></div> <!-- so we can apply "clear: left;" in CSS here -->
              </div>
            </div>

            {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Matthias Holzapfel-Drievko<br />
                  Musikpädagoge & Komponist
                </p>
              </div>
              <div class="contact">
                <p>
                  Tel.: (+49) 0151 10 92 67 39<br />
                  Mail: <a href="mailto:matthias.drievko@web.de">matthias.drievko@web.de</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
