<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <style>
      {% include reset.css %}
      {% include  main.css %}
    </style>
  </head>

  <body>
    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <h2 class="title">{{ site.motto }}</h2>
          <div class="navigation">
            <ul>
              <li><a style="width: 5em;" href="/">Start</a></li>
              <li>
                <ul style="width: 11em;">
                  <li><a href="/gesang">Gesangsunterricht</a></li>
                  <li><a href="/theorie">Musiktheorie</a></li>
                  <li><a href="/klavier">Klavierunterricht</a></li>
                </ul>
              </li>
              <li>
                <ul style="width: 8em;">
                  <li><a href="/lehrbuch">Lehrbuch</a></li>
                  <li><a href="/werke">Werke</a></li>
                  <li><a href="/hoerproben">Hörproben</a></li>
                </ul>
              </li>
              <li>
                <ul style="width: 9em;">
                  <li><a href="/referenzen">Referenzen</a></li>
                  <li><a href="/biografisches">Biografisches</a></li>
                  <li><a href="/aktuelles">Aktuelles</a></li>
                </ul>
              </li>
              <li><a style="width: 7em;" href="/impressum">Impressum</a></li>
            </ul>
            <div></div> <!-- so we can apply "clear: left;" in CSS here -->
          </div>
        </div>

        {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
              Matthias Drievko<br />
              Gesangspädagoge & Komponist
            </p>
          </div>
          <div class="contact">
            <p>
              Tel.: (+49) 0151 10 92 67 39<br />
              Mail: <a href="mailto:matthias.drievko@web.de">matthias.drievko@web.de</a>
            </p>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>
